{% extends 'layouts/default.njk'%}

{% block body%}
		<div>
			<div class="auth-wrapper">
			<form method="POST" action="" class="form-signin">
				<h1>Fazer Login</h1>

				 <input name="email" type="email" placeholder="Digite seu email">
				 <input name="password" type="password" placeholder="Digite sua senha">

				 <button type="submit">Entrar</button>

				 <a href="/signup">Criar conta grauita</a>

			</form>
		</div>
	</body>
</html>
{% endblock %}